In [ ]:
from scipy import stats
from sklearn import datasets,linear_model,discriminant_analysis,cross_validation
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import time
import gc
import json
import copy
import scipy.stats as ss
from sklearn import metrics
from collections import Counter
from scipy.stats import chi2_contingency
from scipy.stats import mode
from Library import get_sample
from Library import optimal_binning
from sklearn import cross_validation,metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn import linear_model
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.grid_search import GridSearchCV
import xgboost as xgb
from sqlalchemy.engine import create_engine
engine_1 = create_engine(
        'mysql+pymysql://ro:cKqj4E3$K7GGeqs@nshd-slave-bi.mysql.rds.aliyuncs.com/paydayloan?charset=utf8',
        echo=False,pool_size=20, max_overflow=0)
engine_2 = create_engine(
    'mysql+pymysql://riskcontrol:tuLwJ3G6FLwR6t4A@nshd-risk.mysql.rds.aliyuncs.com/riskcontrol?charset=utf8',
    echo=False)

In [2]:
start = time.clock()
sql = 'select * from lr_91;'
features_91 = pd.read_sql(sql,engine_2)
sql = 'select * from lr_basic;'
features_basic = pd.read_sql(sql,engine_2)
sql = 'select * from lr_call_record;'
features_call = pd.read_sql(sql,engine_2)
sql = 'select * from lr_hd;'
features_hd = pd.read_sql(sql,engine_2)
sql = 'select * from lr_sms;'
features_sms = pd.read_sql(sql,engine_2)
sql = 'select * from lr_td;'
features_td = pd.read_sql(sql,engine_2)
sql = 'select * from lr_zmxy;'
features_zmxy = pd.read_sql(sql,engine_2)
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 2.00 min 4.73 s

In [3]:
sql = "select distinct userId as uid from eva_loan_loans where status = 'paid' and endDate < '2017-12-4';"
Users_df = pd.read_sql(sql,engine_1)
Users = list(Users_df.uid)

In [4]:
Users = [x for x in Users if x > 100]
Users = pd.DataFrame(Users,columns = ['uid'])

In [5]:
features = Users
features = pd.merge(features,features_91,how='left',on='uid')
features = pd.merge(features,features_basic,how='left',on='uid')
features = pd.merge(features,features_call,how='left',on='uid')
features = pd.merge(features,features_hd,how='left',on='uid')
features = pd.merge(features,features_sms,how='left',on='uid')
features = pd.merge(features,features_td,how='left',on='uid')
features = pd.merge(features,features_zmxy,how='left',on='uid')

In [6]:
VarSave_df = pd.read_csv(r'/home/heyang/data/varname/varsave_lr.csv')

In [7]:
VarSave_lr = list(VarSave_df.ix[:,0])

In [8]:
features_lr = features[['uid']+VarSave_lr]

In [9]:
features_lr.ix[range(5),]

,uid,有过欠款,还款状态次数_3,还款状态次数_4,借款状态_众数_1.0,借款状态_众数_2.0,批贷期数_众数_0.0,批贷期数_众数_1.0,one_hot_female,one_hot_male,...,借款状态_1比例,批贷期数_均值,还款状态次数_1,还款状态次数_9,出现最多还款状态_比例,age,逾期特征_条数,欠款特征_欠款总额,芝麻F2_total,zmxyScore
0,132,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.857143,0.428571,1.0,0.0,0.857143,22.0,5.0,3.0,0.0,NaN
1,137,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,33.0,0.0,0.0,0.0,NaN
2,162,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.250000,0.750000,0.0,3.0,0.750000,21.0,NaN,NaN,0.0,669.0
3,164,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.076923,1.230769,2.0,5.0,0.461538,26.0,1.0,0.0,0.0,679.0
4,213,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.875000,0.125000,0.0,0.0,1.000000,24.0,NaN,NaN,0.0,NaN

In [10]:
#首借的历史特征
dic_user_features = {}
num = len(features_lr.ix[0,:])
for i in range(len(features_lr)):
    dic_user_features[features_lr.ix[i,0]] = list(features_lr.ix[i,:])[1:num]

In [157]:
#提取复借的行为特征
start = time.clock()
sql = "select loan_id,uid,month(startDate) as startMonth,month(endDate) as endMonth,termAsday,\
    loanAmount,payAmount,loanAmount-payAmount as payElse,overduedays,loan_time,loan_gap_days \
    from ydata where endDate < '2017-12-5' and uid > 100;"
ydata = pd.read_sql(sql,engine_2)
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 0.00 min 8.09 s

In [12]:
ydata.ix[range(3),]

,loan_id,uid,startMonth,endMonth,termAsday,loanAmount,payAmount,payElse,overduedays,loan_time,loan_gap_days
0,20,137,3,3,14,1000.0,929.0,71.0,0.0,1,NaN
1,31,162,3,3,14,1000.0,929.0,71.0,0.0,1,NaN
2,21,213,3,3,14,1000.0,929.0,71.0,2.0,1,NaN

In [158]:
start = time.clock()
dic_loanid_user = {}
dic_user_data = {}
users = list(set(list(ydata['uid'])))
for u in users:
    dic_user_data.setdefault(u,[])
num = len(ydata.ix[0,:])
for i in range(len(ydata)):
    dic_loanid_user[ydata.ix[i,0]] = [ydata.ix[i,1],ydata.ix[i,9]]
    dic_user_data[ydata.ix[i,1]].append(list(ydata.ix[i,:]))
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 5.00 min 42.94 s

In [114]:
# dic_user_data = copy.deepcopy(dic_user_data1)
# dic_loanid_user = copy.deepcopy(dic_loanid_user1)

In [151]:
dic_user_data[779650]

[[391782.0, 779650.0, 11.0, 12.0, 7.0, 1000.0, 940.5, 59.5, 0.0, 2.0, 4.0]]

In [197]:
dic_loanid_user[685]

[42391.0, 1.0]

In [208]:
#逾期次数、平均逾期天数、最大逾期天数、逾期比、贷款平均间隔、贷款最大间隔、平均放贷金额、放贷金额方差、平均利息／以天为单位、平均利息方差
start = time.clock()
new_features = []
for loanid in dic_loanid_user.keys():
    user = dic_loanid_user[loanid][0]
    loanTime = dic_loanid_user[loanid][1]
    userData = list(dic_user_data[user])
    if loanTime > 1:
        Data = []
        varvalues = [x for x in userData if x[-2] == loanTime][0]
        loangap = [x[-1] for x in userData if x[-2] == loanTime][0]
        for val in userData:
            if val[-2] < loanTime:
                Data.append(val)
        overtime = 0
        overdays = 0
        loangap_max = loangap
        loangap_min = loangap
        payamount = []
        backamount = []
        backamountAVG = []
        termasday = []
        for val in Data:
            if val[-3] > 0:
                overtime = overtime + 1
                overdays = overdays + val[-3]
            if val[-1] == val[-1]:
                loangap = loangap + val[-1]
                if val[-1] > loangap_max:
                    loangap_max = val[-1]
                if val[-1] < loangap_min:
                    loangap_min = val[-1]
            payamount.append(val[6])
            backamount.append(val[7])
            backamountAVG.append(val[7]/val[4])
            termasday.append(val[4])
        varvalues = varvalues + [overtime]
        varvalues = varvalues + [overtime/(loanTime-1)]
        varvalues = varvalues + [overdays]
        if overtime > 0:
            varvalues = varvalues + [overdays/overtime]
        else:
            varvalues = varvalues + [0]
        varvalues = varvalues + [loangap/(loanTime-1)]
        varvalues = varvalues + [loangap_max]
        varvalues = varvalues + [loangap_min]
        varvalues = varvalues + [np.mean(payamount)]
        varvalues= varvalues + [np.mean(backamount)]
        varvalues = varvalues + [Counter(termasday).most_common(1)[0][0]]
    else:
        varvalues = [x for x in userData if x[-2] == 1][0]
    new_features.append(varvalues)
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 0.00 min 22.76 s

In [209]:
col_name = ['loan_id','uid','startMonth','endMonth','termAsday','loanAmount','payAmount','PayElse','overduedays',\
           'loan_time','loan_gap_days','overtime','overtimeAVG','overdays','overdaysAVG','loangapAVG','loangap_max',\
           'loangap_min','payAmountAVG','backAmountAVG','termAsday_most']

In [210]:
NewFeatures = pd.DataFrame(new_features,columns=col_name)

In [184]:
#对变量筛选
#label
sql = "select loan_id,overduedays from ydata where endDate < '2017-12-5' and uid > 100;"
Label = pd.read_sql(sql,engine_2)
loan_id = list(Label.loan_id)
overduedays = list(Label.overduedays)
target = [0 if x == 0 else 1 for x in overduedays]
IdTarget = pd.DataFrame([loan_id,target]).T
IdTarget.columns = ['loan_id','target']

In [211]:
FeaturesTarget = pd.merge(IdTarget,NewFeatures,how='left',on='loan_id')

In [218]:
CatVar = []
ConVar = []
datafill = FeaturesTarget.fillna(-100)
for var in list(FeaturesTarget.columns):
    if var not in ['loan_id','uid','target']:
        if len(list(set(datafill[var]))) < 11:
            CatVar.append(var)
        else:
            ConVar.append(var)

In [221]:
FeaturesCon = FeaturesTarget[['loan_id','target'] + ConVar]
FeaturesCat = FeaturesTarget[['loan_id','target'] + CatVar]
FeaturesCon.to_csv(r'/home/heyang/data/loanid/features_con.csv',index=False)

In [223]:
# 两个分类变量的相关性检验(转化为独立性检验)
# 以及关联系数(Phi coefficient,又称作 Cramer's statistic)
def CatVarCorrP(features_df,CatVar):
    """ calculate Cramers V statistic for categorial-categorial association.
        uses correction from Bergsma and Wicher, 
        Journal of the Korean Statistical Society 42 (2013): 323-328
    """
    #离散变量的筛选
    start = time.clock()
    target = features_df.target
    dic_var_corrp = {}
    for var in CatVar:
        values = features_df[var]
        confusion_matrix = pd.crosstab(target,values)
        chi2,p,dof,expected = ss.chi2_contingency(confusion_matrix)
        n = confusion_matrix.sum().sum()
        phi2 = chi2/n
        r,k = confusion_matrix.shape
        phi2corr = max(0, phi2 - ((k-1)*(r-1))/(n-1))    
        rcorr = r - ((r-1)**2)/(n-1)
        kcorr = k - ((k-1)**2)/(n-1)
        corr = np.sqrt(phi2corr / min((kcorr-1), (rcorr-1)))
        dic_var_corrp[var] = [corr,p]
    end = time.clock()
    print("run time: %.2f min %.2f s" % divmod((end - start), 60))
    return(dic_var_corrp)

In [224]:
#卡方检验
def CatVarChi(features_df,CatVar):
    start = time.clock()
    dic_var_pval = {}
    data = features_df.fillna(-1)
    target = list(features_df['target'])
    for var in CatVar:
        values = list(data[var])
        values_0 = [values[i] for i in range(len(values)) if target[i]==0]
        values_1 = [values[i] for i in range(len(values)) if target[i]==1]
        stand = list(set(values))
        chi_0 = []
        chi_1 = []
        for val in stand:
            if val != -1:
                chi_0.append(values_0.count(val))
                chi_1.append(values_1.count(val))
        chi = np.array([chi_0,chi_1])
        chi_result = chi2_contingency(chi)
        dic_var_pval[var] = chi_result[1]
    end = time.clock()
    print("run time: %.2f min %.2f s" % divmod((end - start), 60))
    return(dic_var_pval)

In [225]:
dic_var_corrp = CatVarCorrP(FeaturesCat,CatVar)
dic_var_chipval = CatVarChi(FeaturesCat,CatVar)

run time: 0.00 min 0.14 s
run time: 0.00 min 1.02 s

In [228]:
varvalues = []
for var in dic_var_corrp.keys():
    varval = [var]
    varval = varval + dic_var_corrp[var]
    varval.append(dic_var_chipval[var])
    varvalues.append(varval)

In [324]:
pd.DataFrame(varvalues)

                0         1             2             3
0      startMonth  0.148789  0.000000e+00  0.000000e+00
1        endMonth  0.176595  0.000000e+00  0.000000e+00
2       termAsday  0.023861  2.664896e-36  2.664896e-36
3      loanAmount  0.015079  3.479836e-13  3.479836e-13
4  termAsday_most  0.008317  2.354622e-04  2.354622e-04

In [231]:
VarSave = ['startMonth','endMonth','termAsday','loanAmount','overtime','overtimeAVG','overdays','overdaysAVG']

In [300]:
FeaturesSave = FeaturesTarget[['loan_id','uid','target']+VarSave]

In [234]:
##加入之前的特征

In [301]:
features = features_lr.drop_duplicates(['uid'])
FeaturesAll = pd.merge(FeaturesSave,features,how='left',on='uid')

In [302]:
TrainSet = FeaturesAll.drop('uid',1)

In [303]:
start = time.clock()
var_name = list(TrainSet.columns)
var_name = list(set(var_name)^set(['loan_id','target']))
target = TrainSet['target']
loanId = TrainSet['loan_id']
X_Train,X_Test,y_train,y_test = cross_validation.train_test_split(TrainSet,target,test_size=0.2,random_state=27, \
                                                                  stratify=target)
X_train = X_Train[var_name]
X_test = X_Test[var_name]
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 0.00 min 0.27 s

In [321]:
#xgboost
def modelfit(alg,trainset,train_target,testset,test_target,loan_id,useTrainCV=True,cv_folds=5,early_stopping_rounds=50):
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(trainset.values, label=train_target.values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
            metrics='auc', early_stopping_rounds=early_stopping_rounds,)
        alg.set_params(n_estimators=cvresult.shape[0])

    #Fit the algorithm on the data
    alg.fit(trainset,train_target,eval_metric='auc')
    #feature_importance = sorted(alg.feature_importances_,reverse=True)
    
#     var_name = list(trainset.columns)
#     top10 = feature_importance[0:10]
#     top10_var = [var_name[feature_importance.index(impor)] for impor in top10]
#     print("\n".join(top10_var))
#     print(top10)
    
    #Predict training set:
    dtrain_predictions = alg.predict(trainset)
    dtrain_predprob = alg.predict_proba(trainset)[:,1]
    
    #Predict testing set:
    dtest_predictions = alg.predict(testset)
    dtest_predprob = alg.predict_proba(testset)[:,1]
    pre = pd.DataFrame([loan_id,list(dtest_predictions),list(dtest_predprob)]).T
    pre.columns = ['loan_id','dtest_predictions','dtest_predprob']
    
    #输出ks
    fpr_xgb, tpr_xgb, thresholds_xgb = metrics.roc_curve(test_target,dtest_predprob)
    print('xgb ks:',abs(fpr_xgb - tpr_xgb).max(),'xgb AUC:', metrics.auc(fpr_xgb, tpr_xgb))
    
    
    #Print model report:
    print ("Model Report")
    print ("Accuracy : %.4g" % metrics.accuracy_score(train_target.values, dtrain_predictions))
    print("precision (Train): %.4g" % metrics.precision_score(train_target.values, dtrain_predictions))
    print("recall (Train): %.4g" % metrics.recall_score(train_target.values, dtrain_predictions))
    print("F1_score (Train): %.4g" % metrics.f1_score(train_target.values, dtrain_predictions))
    print("AUC Score (Train): %f" % metrics.roc_auc_score(train_target.values, dtrain_predprob))
    print("confusion_matrix (Train):")
    print(metrics.confusion_matrix(train_target.values, dtrain_predictions))
    
    print ("Accuracy : %.4g" % metrics.accuracy_score(test_target.values, dtest_predictions))
    print("precision (Test): %.4g" % metrics.precision_score(test_target.values, dtest_predictions))
    print("recall (Test): %.4g" % metrics.recall_score(test_target.values, dtest_predictions))
    print("F1_score (Test): %.4g" % metrics.f1_score(test_target.values, dtest_predictions))
    print("AUC Score (Test): %f" % metrics.roc_auc_score(test_target.values, dtest_predprob))
    print("confusion_matrix (Test):")
    print(metrics.confusion_matrix(test_target.values, dtest_predictions))
    
    
    feature_importances_df=pd.DataFrame({'features':trainset.columns,'score':alg.feature_importances_})
    feature_importances_df.sort_values('score', ascending = False).head(10)
    return(feature_importances_df,pre)

In [325]:
start = time.clock()
xgb1 = XGBClassifier(learning_rate =0.1,n_estimators=500,max_depth=4,min_child_weight=1,gamma=0,subsample=0.8,
                     colsample_bytree=0.8,objective= 'binary:logistic',nthread=-1,scale_pos_weight=1,seed=27)
features_importance,pre_result = modelfit(xgb1,X_train,y_train,X_test,y_test,list(X_Test.loan_id))
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

xgb ks: 0.333239797733 xgb AUC: 0.722977980167
Model Report
Accuracy : 0.7422
precision (Train): 0.6438
recall (Train): 0.3148
F1_score (Train): 0.4229
AUC Score (Train): 0.732178
confusion_matrix (Train):
[[150626  12153]
 [ 47812  21970]]
Accuracy : 0.7378
precision (Test): 0.6294
recall (Test): 0.3066
F1_score (Test): 0.4123
AUC Score (Test): 0.722978
confusion_matrix (Test):
[[37545  3150]
 [12097  5349]]
run time: 35.00 min 16.63 s

In [306]:
LoanId = tuple(list(pre_result.loan_id))

In [307]:
sql = """select loan_id,overduedays,case when overduedays = 0 then 0 else 1 end as label,loan_time
    from ydata where loan_id in {loanId};""".format(loanId=LoanId)
TrueLabel = pd.read_sql(sql,engine_2)

In [308]:
len(pre_result),len(TrueLabel)

(58141, 58141)

In [309]:
Result = pd.merge(TrueLabel,pre_result,how='left',on='loan_id')

In [310]:
Result.ix[range(10),]

  loan_id  overduedays  label  loan_time  dtest_predictions  dtest_predprob
0      28          0.0      0          1                0.0        0.169538
1      29          NaN      1          1                0.0        0.466385
2      38          6.0      1          1                0.0        0.415986
3      27          1.0      1          1                1.0        0.711278
4      57          0.0      0          1                1.0        0.670679
5      56          NaN      1          1                0.0        0.293506
6      79          0.0      0          2                0.0        0.151046
7      78          NaN      1          1                0.0        0.440462
8      80          0.0      0          1                0.0        0.232089
9      88          0.0      0          3                0.0        0.187473

In [311]:
label = list(Result.label)
loan_time = list(Result.loan_time)
predictions = list(Result.dtest_predictions)

In [312]:
len([1 for i in range(len(loan_time)) if label[i]==predictions[i] and loan_time[i]==1]),\
len([1 for i in range(len(loan_time)) if label[i]!=predictions[i] and loan_time[i]==1])

(11201, 4571)

In [313]:
len([1 for i in range(len(loan_time)) if label[i]==predictions[i] and loan_time[i]!=1]),\
len([1 for i in range(len(loan_time)) if label[i]!=predictions[i] and loan_time[i]!=1])

(31693, 10676)

In [315]:
11201/4571,31693/10676

(2.4504484795449573, 2.9686212064443613)

In [316]:
features_importance

                        features     score
0                    overtimeAVG  0.059203
1           one_hot_F1_not_match  0.007320
2    one_hot_relatStatus_married  0.003445
3                    批贷期数_众数_0.0  0.003229
4                       overdays  0.040904
5                        批贷期数_均值  0.072766
6                         借款状态_3  0.044133
7                       借款状态_1比例  0.040043
8            one_hot_ANDROID_APP  0.006459
9                       overtime  0.021744
10                   出现最多还款状态_比例  0.054252
11                one_hot_female  0.009473
12  one_hot_V3_V_BC_CN_MA_UL180D  0.007104
13               one_hot_rOs_iOS  0.004736
14                     termAsday  0.026265
15                   借款状态_众数_2.0  0.001722
16                   批贷期数_众数_1.0  0.004306
17                  one_hot_male  0.003014
18                    startMonth  0.052745
19            one_hot_F1_have_F1  0.004306
20  one_hot_V3_V_BC_CN_MA_UM360D  0.007104
21                      还款状态次数_4  0.000861
22                      endMonth  0.062217
23                   overdaysAVG  0.035307
24                    loanAmount  0.007750
25                       逾期特征_条数  0.033584
26           one_hot_rOs_Android  0.004521
27                      还款状态次数_3  0.002799
28                     zmxyScore  0.103337
29                        借款状态_2  0.031216
30                   借款状态_众数_1.0  0.000431
31                      还款状态次数_9  0.042626
32               one_hot_DEFAULT  0.005167
33                           age  0.056835
34                      还款状态次数_1  0.031001
35    one_hot_relatStatus_single  0.005382
36                     欠款特征_欠款总额  0.025619
37                      借款状态_3比例  0.038536
38                    芝麻F2_total  0.013994
39                          有过欠款  0.009688
40               one_hot_F1_fail  0.005597
41                  逾期特征_一天最大逾期数  0.009257

In [259]:
# 只使用复借的信息

In [261]:
FeaturesSave = FeaturesTarget[['loan_id','target']+VarSave]

In [262]:
start = time.clock()
var_name = list(FeaturesSave.columns)
var_name = list(set(var_name)^set(['loan_id','target']))
target = FeaturesSave['target']
loanId = FeaturesSave['loan_id']
X_Train,X_Test,y_train,y_test = cross_validation.train_test_split(FeaturesSave,target,test_size=0.2,random_state=27, \
                                                                  stratify=target)
X_train = X_Train[var_name]
X_test = X_Test[var_name]
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

run time: 0.00 min 0.13 s

In [323]:
start = time.clock()
xgb1 = XGBClassifier(learning_rate =0.1,n_estimators=500,max_depth=4,min_child_weight=1,gamma=0,subsample=0.8,
                     colsample_bytree=0.8,objective= 'binary:logistic',nthread=-1,scale_pos_weight=1,seed=27)
features_importance = modelfit(xgb1,X_train,y_train,X_test,y_test)
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

TypeError: modelfit() missing 1 required positional argument: 'loan_id'

In [327]:
len(TrainSet),len(TrainSet.ix[0,:])

(290702, 44)

In [326]:
#逻辑回归

In [ ]:
start = time.clock()
var_name = list(TrainSet.columns)
var_name = list(set(var_name)^set(['loan_id','target']))
target = TrainSet['target']
loanId = TrainSet['loan_id']
X_Train,X_Test,y_train,y_test = cross_validation.train_test_split(TrainSet,target,test_size=0.2,random_state=27, \
                                                                  stratify=target)
X_train = X_Train[var_name]
X_test = X_Test[var_name]
end = time.clock()
print("run time: %.2f min %.2f s" % divmod((end - start), 60))

In [ ]:
regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)
print('Coefficients:%s,intercept %.2f'%(regr.coef_,regr.intercept_))
print("Residual sum of squares: %.2f"% np.mean((regr.predict(X_test)-y_test)**2))
print('Score:%.2f'% regr.score(X_test,y_test))