In [11]:
import pandas as pd
import numpy as np
import os
from sqlalchemy.engine import create_engine
engine_1 = create_engine(
        'mysql+pymysql://ro:cKqj4E3$K7GGeqs@nshd-slave-bi.mysql.rds.aliyuncs.com/paydayloan?charset=utf8',
        echo=False,pool_size=20, max_overflow=0)
engine_2 = create_engine(
    'mysql+pymysql://riskcontrol:tuLwJ3G6FLwR6t4A@nshd-risk.mysql.rds.aliyuncs.com/riskcontrol?charset=utf8',
    echo=False)

In [12]:
ConVar = pd.read_csv(r'/home/heyang/data/IV/convarsas.csv')
ConVar = list(ConVar.varname)

In [13]:
features_info = pd.read_csv(r'/home/heyang/data/IV/feature_info.csv')
colname = list(features_info.columns)
valname = list(features_info.ix[0,:])
dic_num_val = {}
for i in range(len(colname)):
    dic_num_val[colname[i]] = valname[i]

In [14]:
path = '/home/heyang/data/IV/IVResult/'
Table = []
colname = []
for var in ConVar:
    data = pd.read_csv(path+var+'.csv')
    cutpoint = list(data.Cutpoint)
    cutpoint = cutpoint[0:len(cutpoint)-2]
    cutpoint = [float(x.split(' ')[1]) for x in cutpoint]
    woe = list(data.WoE)
    woe = woe[0:len(woe)-2]
    varname = dic_num_val[var]
    colname.append(varname+'_cutpoint')
    colname.append(varname+'_woe')
    Table.append(cutpoint)
    Table.append(woe)

In [15]:
Table = pd.DataFrame(Table).T
Table.columns = colname

In [16]:
Table

,clock_number_cutpoint,clock_number_woe,zmxyScore_cutpoint,zmxyScore_woe,repayState_9_91_cutpoint,repayState_9_91_woe,zkScore_cutpoint,zkScore_woe,fee_mode_rate_cutpoint,fee_mode_rate_woe,loanAmount_mode_rate_91_cutpoint,loanAmount_mode_rate_91_woe,loanPeriod_1_91_cutpoint,loanPeriod_1_91_woe,num_coll_call_cutpoint,num_coll_call_woe,place_mode_rate_cutpoint,place_mode_rate_woe,registerGap_median_hd_cutpoint,registerGap_median_hd_woe
0,20.0,-0.4068,585.0,0.5630,0.1715,0.2332,22.0,-0.5662,0.9312,0.1266,0.3553,-0.6564,1.0,0.1796,1.0,0.0122,0.7837,0.2757,24.5,0.4612
1,22.0,-0.1432,615.0,0.2582,0.4000,-0.1282,37.0,-0.1878,0.9312,-0.1414,0.4424,-0.3500,9.0,-0.1000,3.0,0.2867,0.7837,-0.0621,36.5,0.2057
2,23.0,0.0557,627.0,0.0143,0.7429,-0.3892,47.0,0.0003,NaN,NaN,0.8530,-0.0900,12.0,-0.3336,30.0,0.6058,NaN,NaN,63.0,0.0632
3,23.0,0.2502,635.0,-0.1952,0.7429,-0.2186,47.0,0.5421,NaN,NaN,0.8530,0.2551,12.0,-0.6681,30.0,-0.7203,NaN,NaN,63.0,-0.2542
4,NaN,NaN,668.0,-0.3372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,689.0,-0.6849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,689.0,-1.1332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
data

,Unnamed: 0,Cutpoint,CntRec,CntGood,CntBad,CntCumRec,CntCumGood,CntCumBad,PctRec,GoodRate,BadRate,Odds,LnOdds,WoE,IV
0,1,<= 24.5,3406,993,2413,3406.0,993.0,2413.0,0.1083,0.2915,0.7085,0.4115,-0.8879,0.4612,0.0261
1,2,<= 36.5,3016,729,2287,6422.0,1722.0,4700.0,0.0959,0.2417,0.7583,0.3188,-1.1433,0.2057,0.0043
2,3,<= 63,7088,1535,5553,13510.0,3257.0,10253.0,0.2253,0.2166,0.7834,0.2764,-1.2858,0.0632,0.0009
3,4,> 63,14565,2440,12125,28075.0,5697.0,22378.0,0.4629,0.1675,0.8325,0.2012,-1.6033,-0.2542,0.0277
4,5,Missing,3387,785,2602,31462.0,6482.0,24980.0,0.1077,0.2318,0.7682,0.3017,-1.1984,0.1507,0.0026
5,6,Total,31462,6482,24980,NaN,NaN,NaN,1.0000,0.2060,0.7940,0.2595,-1.3490,0.0000,0.0616

In [7]:
features = pd.read_csv(r'/home/baowu/code/model/synthesis/train_all.csv')

In [10]:
features_con_woe = []
for var in ConVar:
    Cutpoint = Table[dic_num_val[var]+'_cutpoint']
    Cutpoint = list(set([x for x in Cutpoint if x != None]))
    Cutpoint = [-100000]+Cutpoint
    Cutpoint.append(1000000)
    Cutpoint = sorted(Cutpoint)
    WoE = list(Table[dic_num_val[var]+'_woe'])
    WoE = [x for x in WoE if x != None]
    varvalues_new = []
    varvalues_old = list(features[var])
    for val in varvalues_old:
        if val == val:
            for i in range(len(Cutpoint)-1):
                if val > Cutpoint[i] and val <= Cutpoint[i+1]:
                    varvalues_new.append(WoE[i])
                    break
                else:
                    continue
        else:
            varvalues_new.append(0)
    features_con_woe.append(varvalues_new)

NameError: name 'ConVar' is not defined

In [63]:
features_con_woe = pd.DataFrame(features_con_woe)

In [17]:
Table.to_sql('Cutpoint_WoE_hy',engine_2,chunksize=100,if_exists='replace',index=False)

In [74]:
# Table.to_sql('Cutpoint_WoE_hy',engine_2,chunksize=100,if_exists='replace',index=False)
ConVar = pd.read_csv(r'/home/heyang/data/IV/convar.csv')
CatVar = pd.read_csv(r'/home/heyang/data/IV/catvar.csv')

In [77]:
VarName = pd.concat([ConVar,CatVar],axis=1)

In [79]:
VarName.columns = ['convar','catvar']

In [80]:
VarName

                     convar                                 catvar
0              clock_number   多平台借贷申请检测_近60个月以上申请人在多个平台申请借款_设备ID详情
1                 zmxyScore                          CHINA_TELECOM
2           repayState_9_91                                  key_3
3                   zkScore                            marr_single
4             fee_mode_rate                           province_天津市
5   loanAmount_mode_rate_91                        degree_bachelor
6           loanPeriod_1_91     客户行为检测_3个月内身份证关联多个申请信息_3个月身份证关联邮箱数
7             num_coll_call                                term_28
8           place_mode_rate                          black_list_91
9     registerGap_median_hd                          career_个体商店老板
10                      NaN    不良信息扫描_手机号命中中风险关注名单_fraud_type_异常借款
11                      NaN                         has_arrears_91
12                      NaN                        career_企业负责人、股东
13                      NaN                              has_od_91
14                      NaN                         career_企业高中级主管
15                      NaN                            loanA_-6_91
16                      NaN  客户行为检测_3个月内身份证关联多个申请信息_risk_level_low
17                      NaN                     applyAmount_min_hd
18                      NaN                          workExp_10年以上
19                      NaN                             workExp_2年
20                      NaN           one_hot_V3_V_BC_CN_MA_UL180D
21                      NaN                            has_over_hd
22                      NaN                             houseProp_
23                      NaN                           no_call_term
24                      NaN    多平台借贷申请检测_1个月内申请人在多个平台申请借款_大型消费金融公司
25                      NaN                       loanPeriod_21_91
26                      NaN                   one_hot_F1_not_match
27                      NaN      多平台借贷申请检测_1个月内申请人在多个平台申请借款_第三方服务商
28                      NaN                        loanPeriod_9_91
29                      NaN                            gender_male
30                      NaN                      rFrom_ANDROID_APP
31                      NaN    不良信息扫描_身份证命中中风险关注名单_fraud_type_信用异常
32                      NaN                           industry_制造业

In [81]:
VarName.to_sql('varname_hy',engine_2,chunksize=100,if_exists='replace',index=False)

1011

In [83]:
sql = """select * from {table}""".format(table = 'varname_hy')
data = pd.read_sql(sql,engine_2)

In [84]:
data

                     convar                                 catvar
0              clock_number   多平台借贷申请检测_近60个月以上申请人在多个平台申请借款_设备ID详情
1                 zmxyScore                          CHINA_TELECOM
2           repayState_9_91                                  key_3
3                   zkScore                            marr_single
4             fee_mode_rate                           province_天津市
5   loanAmount_mode_rate_91                        degree_bachelor
6           loanPeriod_1_91     客户行为检测_3个月内身份证关联多个申请信息_3个月身份证关联邮箱数
7             num_coll_call                                term_28
8           place_mode_rate                          black_list_91
9     registerGap_median_hd                          career_个体商店老板
10                     None    不良信息扫描_手机号命中中风险关注名单_fraud_type_异常借款
11                     None                         has_arrears_91
12                     None                        career_企业负责人、股东
13                     None                              has_od_91
14                     None                         career_企业高中级主管
15                     None                            loanA_-6_91
16                     None  客户行为检测_3个月内身份证关联多个申请信息_risk_level_low
17                     None                     applyAmount_min_hd
18                     None                          workExp_10年以上
19                     None                             workExp_2年
20                     None           one_hot_V3_V_BC_CN_MA_UL180D
21                     None                            has_over_hd
22                     None                             houseProp_
23                     None                           no_call_term
24                     None    多平台借贷申请检测_1个月内申请人在多个平台申请借款_大型消费金融公司
25                     None                       loanPeriod_21_91
26                     None                   one_hot_F1_not_match
27                     None      多平台借贷申请检测_1个月内申请人在多个平台申请借款_第三方服务商
28                     None                        loanPeriod_9_91
29                     None                            gender_male
30                     None                      rFrom_ANDROID_APP
31                     None    不良信息扫描_身份证命中中风险关注名单_fraud_type_信用异常
32                     None                           industry_制造业

In [19]:
from Library.model_woe import get_features
path = '/home/baowu/code/model/synthesis/feature_bw_all.csv'

In [20]:
features_final = get_features(path)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/home/baowu/code/model/synthesis/feature_bw_all.csv' at line 1") [SQL: 'select * from /home/baowu/code/model/synthesis/feature_bw_all.csv;']